@(title: String)(head: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.splitlines.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.pop.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/toastr/toastr.js")" type="text/javascript"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tweets.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pop.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/toastr/toastr-responsive.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/toastr/toastr.css")">

    	@head
    	<script type="text/javascript" charset="utf-8">
			$(function() {
				
				$("div#socket-state").text("Initializing socket")
		
				var momentPreviews;
				var ts;

				var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
				
				var socket = new WS("ws://localhost:9000/ws")
				
				socket.onopen = function() {
					$("div#socket-state").text("Socket opened !")
					$("table.infobox").next("p").after('<div class="recent-tweets"><ul class="tweets"></ul></div><br/>');
					var title = $("h1#firstHeading").text()
					title = '{"title":"'+title+'"}'
					socket.send(title)
					toastr.info('First Socket Opened')
				}
		
				var firstTweetsLoaded = false;
				
				socket.onmessage = function(tweets) {

					ts = jQuery.parseJSON(tweets.data)
					
					if (tweets.data == null){
						toastr.error('Something wrong happened, where are the birds ??');
					} else {
						if (firstTweetsLoaded == false){
							firstTweetsLoaded = true;
							semanticUrlSuggestion(ts);
						}
						toastr.success('Birds could be heard !');
					}
					
					
					
					
					/* Print Tweets as an array
					
					var tweetList = "";
					$.each(ts, function(index, value){
						var li = '<li><p>'+value.t.text+'</p>'+
						'<div class="info"><a title="'+value.t.from_user+'" class="user" '+
						'href="http://twitter.com/">'+value.t.from_user+'</a>'+
						'<span title="Retweet Count" class="retweet">19</span>'+
						'<a	title="Shared 3 days ago" target="_blank" class="date" '+
						'href="http://twitter.com/Tutorialzine/status/'+value.t.id_str+'">3 days ago</a>'+
						'</div></li>';
						tweetList+=li;
					})
					
					//$(".tweets").fadeOut('slow').html(tweetList).fadeIn('slow');
					*/
					
					var countOfLinks = 0;
					$.each(ts, function(index, ant){
						$.each(ant.concepts, function (index, concept){
							$('a[title="'+concept+'"]').after("<div class='pop'><p>"+ant.t.text+"</p></div>")
						})
						$.each(ant.t.entities.urls, function (index, url){
							countOfLinks+=1;
						})
					})
					
					/*
					useless, no ?
					//Retrieve the urls
					momentPreviews = new Array();
					$.each(ts, function(index, ant){
						$.each(ant.previews, function (index, prev){
							momentPreviews.push(prev);
						})
					})
					*/
					
					$.pop();
				}
				
				
				//EDITION SOCKET
				function semanticUrlSuggestion(ts){
					
					var annotateSocket = new WS("ws://localhost:9000/annotatews")
					
					annotateSocket.onopen = function() {
						
						toastr.info('Annotation socket open :)');
	
						var editme = '<span class="editme" style=background-color:orange>Hey !! I m here !</span>';
						$('#content_wrapper #content p').after(editme);
						
						var editbox = '<input type="textbox" class="editbox"><div id="concepts"></div><div id="previews"></div>';
						$('.editme').dblclick(function () { 
						      $(this).replaceWith(editbox);
						      
						      var ts = 0;
								$('.editbox').keypress(function(event){
									var code = event.charCode;
								    if (event.timeStamp - ts > 10000 && (code == 32 || code == 44 || code == 59 || code == 58))  {
								    	var text = $('.editbox').val();
								    	annotateSocket.send('{"text":"'+text+'"}');
								    	ts = event.timeStamp;
								    } 
								});
					    });
					}
	
					annotateSocket.onmessage = function(concepts) {
						toastr.success('Received concepts message');
						var concs = jQuery.parseJSON(concepts.data);
						var previewsToDisplay = new Array();
						$.each(ts, function(i, ant){
							$.each(ant.concepts, function (j, tc){
								$.each(concs, function (k, bc){
									if (tc == bc){
										$.each(ant.previews, function(l, prev){
											previewsToDisplay.push(prev)
										})
									}
								})
							})
						});
						
						var listOfPreviews =  "";
						$.each(previewsToDisplay, function(i, p){
							listOfPreviews+= " | " + p.resolved_url;
						})
						$('#previews').text(listOfPreviews);
						
						console.log(concs);
						var listOfConcepts = "";
						$.each(concs, function (index, concept){
								listOfConcepts+= " | " + concept;
							})
						$('#concepts').text(listOfConcepts);
					}
				}			
						
			})
		</script>
        
    </head>
    <body>
        @content
    </body>
</html>
