@(hey: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Weeki test page</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	</head>
	<body>
<h2>WebSockets test</h2>
<div id="socket-state">Nothing happening</div>

<p> This is a socket test </p>

<input type='textbox' id='editbox' >
<div id="concepts"></div>


<script type="text/javascript" charset="utf-8">
	$(function() {
		$("div#socket-state").text("Initializing socket")
		$("div#tweets").text("Wait a bit :) ")

		var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
		
		var socket = new WS("ws://localhost:9000/annotatews")
		
		socket.onopen = function() {
			var text = "Rock en Seine is a damn good festival in Paris";
			var ts = 0;
			$('#editbox').keypress(function(event){
				var code = event.charCode;
			    if (event.timeStamp - ts > 10000 && (code == 32 || code == 44 || code == 59 || code == 58))  {
			    	var text = $('#editbox').val();
			    	socket.send('{"text":"'+text+'"}');
			    	ts = event.timeStamp;
			    } 
				});
		}

		socket.onmessage = function(concepts) {
			console.log(concepts);
			$('#concepts').text(concepts.data);
		}
		
	})
</script>
</body>
</html>
